.metrics-card {
  display: flex;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  background-color: white;
  margin-right: 10px;
}

.metric {
  text-align: center;
}

.metric-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.metric-value {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.metric-change {
  font-size: 14px;
  color: black;
  background-color: #eef6f1;
  border: 2px solid #d0ebd3;
  border-radius: 5px;
  padding: 2px 5px;
  margin-top: 5px;
}

.threshold-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  width: 250px;
  margin: 10px;
}

.card-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-weight: normal;
  font-size: 12px;
  color: #777;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.threshold-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.threshold-label {
  flex: 1;
}

.threshold-value {
  font-weight: bold;
  margin-right: 10px;
}

.threshold-change {
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
}

.positive {
  font-size: 14px;
  color: black;
  background-color: #eef6f1;
  border: 2px solid #d0ebd3;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}

.negative {
  font-size: 14px;
  color: black;
  background-color: #f9eef0;
  border: 2px solid #f7ced0;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}

.card {
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 110px;
  margin: 10px;
  padding: 15px;
}

.card-header {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  display: inline;
}

.card-body {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-row2 span:first-child {
  margin-right: 10px;
}

.card-row span:first-child {
  color: #666;
  width: 40%;
}

.card-row p:nth-child(2) {
  width: 10%;
  text-align: left;
}

.indicators p {
  font-size: 14px;
}

.Green {
  background-color: green;
  background: green;
}
.Amber {
  background-color: orange;
  background: orange;
}
.Red {
  background-color: red;
  background: red;
}

.subTitle {
  font-weight: normal;
  font-size: 12px;
  color: #777;
  margin-left: 2px;
}

.parent {
  // display: flex;
  // flex-direction: row;
  width: 100%;
  // flex-wrap: wrap;
}

// .fcardAll{
//   display: flex;
//   align-items: center;
//   height: 200px;
//   width: 250px
// }

.nso {
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 110px;
  margin: 10px;
  padding: 15px;
}

.all {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  width: 250px;
  margin: 10px;
}

.slick-slider {
  display: flex !important;
}
